:root {
  --brand-color: #4d5ae5;
  --default-text-color: #2e2f42;
  --link-color_hover: #404bbf;
  --text-color: #434455;
  --h1-color: #fff;
  --background-color: #fff;
  --section-background-color: #f4f4fd;
  --accent-color: #e7e9fc;
  --social-icon-hover-color: #31D0AA;
  --border-color: #8e8f99;
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.02em;
}

ul {
  list-style-type: none;
  padding: 0;
}

.page-wrapper {
  background-color: var(--background-color);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Fonts */
h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07143;
  color: var(--h1-color);
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  text-transform: capitalize;
  color: var(--default-text-color);
  margin: 0;
}

h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  margin: 0;
  color: var(--default-text-color);
  padding-top: 8px;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  margin: 8px 0;
  color: var(--text-color);
}

/* Header: Mobile Navigation */

.mobile-header {
  display: none;
  align-items: center;
  justify-content: space-between;
  background-color: var(--background-color);
  padding: 0 16px;
  max-width: 767px;
  border-bottom: 1px solid var(--accent-color);
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

@media screen and (max-width: 767px) {
  .mobile-header {
    display: flex;
  }

  .header {
    display: none;
  }

  .js-menu-container .social-icon-holder {
    justify-content: flex-start;
    gap: 50px;
  } 
}

.burger-menu {
  fill: var(--default-text-color);
  width: 32px;
  height: 22px;
}

.js-menu-container {
  display: none;
}

.js-menu-container.is-open {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  right: 0;
  background-color: var(--background-color);
  z-index: 2;
  padding: 40px 0 40px 40px;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}

.mobile-menu-contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 89%;
}

.mobile-menu-nav,
.mobile-contacts {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-menu-nav a:hover,
.mobile-menu-nav a:active,
.mobile-menu-nav .mobile-active {
  color: var(--link-color_hover);
}

.mobile-contacts li:nth-child(1) a {
  color: var(--brand-color)
}

@media screen and (min-width: 768px) {

}

.header {
  border-bottom: 1px solid var(--accent-color);
  position: sticky;
  top: 0;
  background-color: var(--background-color);
  z-index: 10;
}

.container-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  padding: 0 16px;
  margin: 0 auto;
}

.web {
  color: var(--brand-color);
}

.logo a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--default-text-color);
}

.logo {
  display: flex;
  align-items: center;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.03em;
  padding: 24px 0 22px;
}

.navigation a,
.contacts a,
.mobile-menu-nav a,
.mobile-contacts a {
  text-decoration: none;
  color: var(--default-text-color);
  flex: 1;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation a:hover,
.navigation a:visited,
.navigation a:active,
.contacts a:hover,
.contacts a:visited,
.privacy-policy a {
  color: var(--link-color_hover);
}

.navigation {
  display: flex;
  font-weight: 500;
  margin: 0;
}

.contacts {
  display: flex;
  flex-wrap: wrap;
  font-weight: 400;
  margin: 0;
}

@media screen and (min-width: 768px) and (max-width: 1158px) {
  .contacts {
    flex-direction: column;
  }

  .contacts p {
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
  }
}


.navigation li,
.contacts li {
  display: flex;
  padding-left: 40px;
  flex-grow: 1;
  cursor: pointer;
}

.nav-link {
  display: inline-block;
  height: 45px;
  margin-top: 22px;
}

.nav-link:hover::after,
.active::after {
  content: "";
  display: block;
  background-color: var(--link-color_hover);
  border-radius: 10px;
  height: 4px;
  margin-top: 24px;
}


/* Hero section */
.container-column,
.our-team {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero {
  padding: 112px 54px;
  max-width: 1440px;
  margin: 0 auto;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office2x.webp);
  }
}

@media (max-device-pixel-ratio: 2),
(-webkit-max-device-pixel-ratio: 2),
(max-resolution: 192dpi),
(max-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office1x.webp);
  }
}

 @media screen and (max-width: 768px) {
  .hero h1 {
      font-size: 36px;
  }
 }

.button-text {
  color: var(--h1-color);
}

.filter-button-text {
  color: var(--brand-color);
}

.filter-button-text:hover,
.filter-button-text:active {
  color: var(--h1-color);
}


.filter-button {
  display: flex;
  background-color: var(--section-background-color);
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  padding: 0;
  height: 48px;
  overflow: hidden;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-button {
  display: flex;
  justify-content: center;
  background-color: var(--brand-color);
  border: none;
  border-radius: 4px;
  width: 169px;
  height: 56px;
  margin-top: 40px;
  cursor: pointer;
  overflow: hidden;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-text,
.filter-button-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-decoration: none;
  padding: 0 24px;
  align-items: center;
}

.order-button:hover,
.order-button:active,
.filter-button:hover,
.filter-button:active,
.subscribe-button:hover,
.subscribe-button:active {
  background-color: var(--link-color_hover);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.1);
}

.modal {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  position: relative;
  margin: 80px auto;
  padding: 0 24px;
  border-radius: 4px;
  width: 408px;
  height: 584px;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
  background: #fcfcfc;
}

.is-hidden {
  display: none;
}

.close-btn {
  cursor: pointer;
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  text-align: center;
  color: var(--default-text-color);
  background-color: var(--accent-color);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 23px;
  height: 23px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover,
.close-btn:active {
  background-color: var(--link-color_hover);
  color: var(--background-color)
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-top: 72px;
  border: none;
  padding: unset;
  gap: 8px;
}

.form-title {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  margin-bottom: 16px;
}

.form-label {
  display: flex;
  flex-direction: column;
  position: relative;
  color: var(--border-color);
  gap: 4px;
  font-size: 12px;
}

input {
  padding: 8px;
  cursor: pointer;
}

.form-label > svg {
  position: absolute;
  top: 56%;
  left: 16px;
}

.form-label:nth-child(2) > svg {
  top: 52%;
}

.form-icon {
  display: inline-block;
  width: 12px;
  height: 12px;
  fill: var(--default-text-color);
}

.input {
  border: 1px solid var(--border-color);
  border-radius: 4px;
  height: 40px;
  padding: 0 32px;
}

.input:focus {
  outline-width: 0;
  border: 1px solid var(--brand-color);
}

.input:focus + .form-icon {
  fill: var(--brand-color);
}

textarea {
  resize: none;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  border-color: var(--border-color);
  width: 360px;
  padding: 8px 16px;
}

::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: rgba(46, 47, 66, 0.4);
}

textarea:focus {
  outline: none;
  border: 1px solid var(--brand-color)
}

.privacy-policy {
  display: flex;
  border: none;
  position: relative;
  padding: unset;
  color: var(--border-color);
  font-size: 12px;
  align-items: center;
  gap: 8px;
}

.privacy-policy input, 
.privacy-policy span, 
.privacy-policy svg {
  position: absolute;
}

.privacy-policy input {
  opacity: 0;
  width: 16px;
  height: 16px;
  z-index: 1;
}

.privacy-policy span {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  text-align: center;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  width: 16px;
  height: 16px;
}

.checkmark {
  opacity: 0;
  width: 11px;
  height: 10px;
}

input.checkbox:checked + span {
  background-color: var(--link-color_hover);
  border: 1px solid var(--link-color_hover);
}

input.checkbox:checked + span svg {
  top: 50%;
  left: 8,5%;
  transform: translateY(-50%);
  opacity: 1;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.terms-text {
  font-weight: 400;
  font-size: 12px;
  margin-left: 24px;
}

form .button-position {
  align-self: center;
  margin-top: 8px;
}

/* Features section */
.section-padding {
  padding-top: 96px;
}

.icon-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  background-color: var(--section-background-color);
  padding: 24px 0;
  border-radius: 4px;
}

.section {
  display: flex;
  justify-content: space-around;
  max-width: 1200px;
  padding-left: 16px;
  margin: 0 auto;
}

.container-cards {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}


.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  gap: 72px;
}

.cards-item {
  display: flex; 
}

.card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: var(--background-color);
}

.card-title {
  text-align: center;
}

@media screen and (min-width: 768px) and (max-width: 1158px) {
  .card-title {
      text-align: left;
    }
}

@media screen and (max-width: 1158px) {
  .icon-holder {
    display: none;
  }

  .cards-item {
    max-width: 356px;
  }

  .cards {
    gap: 24px;
  }

  section:nth-child(3) {
    display: none;
  }

}

@media screen and (min-width:1158px) {
  .cards-item {
      max-width: 274px;
    }

  .card-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    margin: 0;
    color: var(--default-text-color);
    padding-top: 8px;
    text-align: left;
  }

  .cards {
    gap: 24px;
  }

  .section-padding {
    padding-top: 120px;
  }
}


/* @media (min-width: 428px) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 768px) {
  .cards_item {
    width: 33.3333%;
  }
} */


.image-cards {
  display: flex;
  justify-content: space-between;
  padding: 0;
  max-width: 1200px;
}

/* Section: Our Team */
.our-team {
  padding: 120px 0;
  text-align: center;
  background-color: #f4f4fd;
  max-width: 1440px;
  margin: 0 auto;
}

@media screen and (max-width: 1158px) {
  .our-team {
      padding: 96px 0;
  }
}

.our-team-cards {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
}

.padding-top {
  padding-top: 72px;
}

.team-card {
  border-radius: 0 0 4px 4px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-card {
  border: 1px solid #e7e9fc;
  overflow: hidden;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-card:hover,
.project-card:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.card > .body {
  padding: 20px 20px;
  text-align: center;
}

.project-card > .body {
  padding: 32px 16px;
  text-align: left;
}

@keyframes slide-top {
  0% {
    transform: translateY(100%)
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slide-bottom {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(100%);
  }
}
.image-holder {
  position: relative;
  overflow: hidden;
}

.project-card:hover .project-description {
  animation: slide-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  visibility: visible;
}

.project-card .project-description {
  animation: slide-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  visibility: visible;
}

.project-description {
  display: block;
  position: absolute;
  bottom: 0;
  background-color: rgba(77, 90, 229, 0.9);
  width: 360px;
  min-height: 305px;
  padding: 32px;
  visibility: hidden;
}

.project-description p {
  color: var(--section-background-color)
}

/* Section: Customers */
.customers-icon-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  background-color: transparent;
  width: 177px;
  height: 88px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);;
}

.customers-icon-holder:hover {
    border: 1px solid var(--link-color_hover);
}

.customers-icon-holder svg:hover {
    fill: var(--link-color_hover);
}

/* Footer */
.footer {
    display: flex;
    justify-content: center;
    background-color: var(--default-text-color);
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 96px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  max-width: 1200px;
  padding: 96px 16px;
}

.footer-card .logo {
  padding-top: 0;
  padding-bottom: 8px;
}

.dark-bkg {
  color: var(--section-background-color);
}

footer>div>div:nth-child(1)>p {
  max-width: 268px;
}


.footer-card {
  display: flex;
  flex-direction: column;
}

.footer-form {
  display: flex;
  gap: 16px;
}

@media screen and (min-width: 768px) {
  .footer-container {
    justify-content: flex-start;
    padding-left: 108px;
    gap: 24px;
  }

  .footer-form.footer-card {
    flex-direction: row;
    gap: 24px;
  }

  .footer-button {
    padding-top: 40px;
  }
}

@media screen and (min-width: 1158px) {
  .footer-container {
      padding-left: 0;
      gap: 96px;
  }  
}

.footer .social-icon-holder {
  justify-content: flex-start;
  padding-top: 16px;
  gap: 16px;
}

.social-icon-holder {
  display: flex;
  justify-content: space-evenly;
  padding-top: 8px;
}

.social-icon {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 44px;
  height: 44px;
  background-color: var(--brand-color);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon:hover {
  background-color: var(--social-icon-hover-color);
}

.form-group-footer {
  display: flex;
  flex-direction: column;
  border: none;
  padding: unset;
  flex-basis: 100%;
}

.form-group-footer .input {
  border: 1px solid var(--background-color);
  border-radius: 4px;
  min-width: 268px;
  height: 40px;
  margin-top: 16px;
  background-color: transparent;
  padding: 0 16px;
}

.form-group-footer .input::placeholder {
  color: var(--background-color);
  line-height: 2;
  letter-spacing: 0.04em;
}

.footer-button {
  width: 100%;
}

.subscribe-button {
  display: flex;
  justify-content: center;
  background-color: var(--brand-color);
  border: none;
  border-radius: 4px;
  padding: 0;
  width: 165px;
  height: 40px;
  gap: 16px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-text-subscribe,
.button-icon {
  display: inline-flex;
  align-items: center;
  height: 100%;
}

.subscribe-icon {
  width: 24px;
  height: 20px;
}

@media screen and (max-width: 767px) {
  .footer-container {
    justify-content: center;
  }

  .form-group-footer .input {
    min-width: 398px;
  }

  .footer-card-title,
  .footer-button,
  .footer .social-icon-holder {
    display: flex;
    justify-content: center;
  }
} 

/* Portfolio page */
.filters-section {
  padding: 48px 0;
}

/* .padding {
  padding-top: 96px;
} */

.buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.section.project-section {
  /* padding-top: 72px; */
  padding-bottom: 120px;
}

@media screen and (max-width: 768px) {
  .filters-section {
      padding: 64px 0;
    }

  .filter-button {
    height: 40px;
  }
}

@media screen and (min-width: 1158px) {
  .filters-section {
    padding: 100px 0 72px;
  }

  .filter-button {
    height: 48px;
  }
}